<header class="header">
    <div class="header-logo">
      <a href="/">🍽️ TicketLogger</a>
    </div>
  
    <nav class="header-nav" [class.open]="menuOpen">
      <li *ngIf="isLoggedIn"><a routerLink="/restaurants">Restaurantes</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="/mis-reservas">Mis Reservas</a></li>


    </nav>
  
    <div class="header-actions">
  <button class="btn-outline" (click)="irALogin()">Iniciar sesión</button>
  <button class="btn-primary" (click)="irARegistro()">Registrarse</button>
  <li *ngIf="isLoggedIn"><a (click)="logout()">Logout</a></li>
</div>

  
    <button class="hamburger" (click)="toggleMenu()" aria-label="Menú">
      <i class="fas fa-bars"></i>
    </button>
  </header>
  