<footer class="footer">
    <div class="footer-content">
      <div class="footer-section">
        <img src="assets/icons/email.png" alt="Email" />
        <div>
          <strong>Contacto</strong><br />
          ticketlogger&#64;ticketlogger.es<br />
          +34 654894948
        </div>
      </div>
  
      <div class="footer-section">
        <img src="assets/icons/info.png" alt="Información" />
        <div>
          <strong>Información</strong><br />
          Av. Santiponce, S/N, 41980 La Algaba, Sevilla
        </div>
      </div>
  
      <div class="footer-section social-section">
        <a href="#top" class="scroll-top">Arriba página</a>
        <div class="social-icons">
          <a href="#"><img src="assets/icons/tiktok.png" alt="TikTok" /></a>
          <a href="#"><img src="assets/icons/facebook.png" alt="Facebook" /></a>
          <a href="#"><img src="assets/icons/instagram.png" alt="Instagram" /></a>
          <a href="#"><img src="assets/icons/x.png" alt="X" /></a>
        </div>
      </div>
    </div>
  </footer>
  